<div class="card bg-base-100 shadow-xl mt-8">
  <div class="card-body">
    <h2 class="card-title text-2xl mb-4">Notes Timeline</h2>

    <%= render 'notes/form', pet: pet %>

    <div class="divider"></div>

    <%= render 'notes/timeline', pet: pet %>
  </div>
</div>
